.chat-list {
  overflow: auto;
  margin-top: -16px;
  margin-bottom: 16px;

  &-row {
    padding: 20px 15px;
    border-bottom: 1px solid rgb(235, 237, 240);

    display: flex;
    flex-direction: row;
    align-items: center;

    &__content {
      margin-left: 20px;

      &-address {
        font-size: 8px;
      }
    }

    &__icon {
      margin-left: auto;
    }

    &:hover {
      border-color: #1890ff;
      cursor: pointer;
    }
  }

  .ant-ribbon-placement-end {
    right: 0px !important;
    top: 1px;
  }
}

.chat-list-loading {
  padding: 20px 15px;
}

.wallet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  justify-content: center;

  &__name {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;

    .ant-avatar {
      margin-bottom: 4px;
    }

    &-address {
      cursor: pointer;
      font-size: 10px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__balance {
    font-size: 24px;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-left: -4px;
  }

  &__actions {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 38px;

    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: center;
      width: 47px;

      div {
        font-size: 12px;
      }
    }
  }
}

.wallet-info-loading {
  margin-top: 48px;

  .ant-skeleton-title {
    margin-left: auto;
    margin-right: auto;
  }

  .ant-skeleton-paragraph {
    margin-left: auto;
    margin-right: auto;

    width: 60%;
  }
}

.chain-switcher {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #00000033;
  font-size: 18px;
}
