.approve-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;

  // Important is added to override antd design
  &-decline {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5222d;

    cursor: pointer;

    span {
      color: #ffffff;
    }

    &.is-disabled {
      background-color: #ffa39e;
      cursor: not-allowed;
    }
  }
}
