.bottom-overlay {
  &-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }

  &-popup {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;

    &-dialog {
      width: 100%;
      position: absolute;
      bottom: 0px;
      height: 40%;
      background-color: white;

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 18px;

      display: flex;
      flex-direction: column;
    }
  }
}
