.transaction {
  @import "ConfirmTransaction";
  @import "ApproveSlider";
  @import "TransactionDetails";

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;

    div:first-child {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &-content {
    position: relative;
    flex-grow: 1;

    & > div {
      height: 100%;
    }
  }

  &-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
