.create-wallet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 30px;
  background: #ececec;

  &-container {
    background-color: white;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;

    &-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      > span:first-child {
        font-size: 80px;
        color: rgba(0, 0, 0, 0.45);
      }
    }

    &-description {
      margin-top: 24px;
    }

    &-form {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      margin-top: 48px;

      form {
        width: 100%;

        button {
          margin-top: 8px;
          width: 100%;
        }
      }
    }
  }
}
