.create-wallet {
  &-head {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    > span:first-child {
      font-size: 60px;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  &-description {
    margin-top: 24px;
  }

  &-form {
    display: flex;
    justify-content: center;

    form {
      width: 100%;

      button {
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}
