@import "components/CryptoTransferMessage";
@import "components/Layouts/SetupWalletLayout";
@import "components/Layouts/MainLayout";
@import "components/Layouts/BottomOverlayLayout";
@import "components/FullPageLoader";
@import "components/TransactionOverlay";

@import "pages/CreateWallet";
@import "pages/SetupWallet";
@import "pages/Dashboard";
@import "pages/ChatPage";
@import "pages/TransactionPopup";
@import "pages/ImportWallet";

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

.site-page-header {
  border-bottom: 1px solid rgb(235, 237, 240);
}

.site-page-content {
  max-height: 88%;
  padding: 10px;
  flex-grow: 1;
}

.root-loader {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

img {
  background-color: #edecec;
}

img.no-background {
  background-color: unset;
}

.message-notification {
  .ant-message-notice-content {
    border-radius: 10px;
  }
}
