.notification-recommendation {
  .bottom-overlay-popup-dialog {
    height: unset;
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-bottom: unset;
    }

    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
  }

  &-content {
    margin-top: 8px;
  }

  &-footer {
    float: right;
    margin-top: 24px;
  }
}
